<div>
    <input type="text" v-model.trim="edit" v-if="edit != null" v-focus @keyup.enter="submitHandler" @keyup.esc="cancelHanlder" @blur="cancelHanlder">
    <v-list v-else>
        <v-list-tile>
            <v-list-tile-action>
                <v-checkbox v-model="done" hide-details></v-checkbox>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title @dblclick="editHandler">{{ todo.content }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
                <v-btn color="error" @click="deleteHandler">刪除</v-btn>
            </v-list-tile-action>
        </v-list-tile>
    </v-list>
</div>